<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Evenimente</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <img src="../img/logo.png" alt="Logo" />
        </nav>
        <div>
          <nav>
            <li>
              <a href="../index.html ">Pagina principală</a>
            </li>
            <li>
              <a href="ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="#">Evenimente</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h2>Evenimente</h2>
      <ul>
        <li>
          "Festivalul Culorilor Oradea" - Pe data de 15 mai 2024, Parcul 1
          Decembrie din Oradea va găzdui un eveniment spectaculos în care
          participanții vor sărbători diversitatea culturilor prin colorate
          pulberi de praf și muzică tradițională.
        </li>
        <li>
          "Tur nocturn al cetății Oradea" - În seara de 30 iunie 2024, turul
          nocturn al Cetății Oradea va oferi vizitatorilor oportunitatea de a
          explora istoria fascinantă a cetății sub lumina stelelor.
        </li>
        <li>
          "Carnavalul Fluturilor" - În luna august 2024, Parcul Ady Endre din
          Oradea va găzdui un eveniment colorat și vesel dedicat frumuseții
          fluturilor din zonă. Turiștii vor putea participa la ateliere de artă,
          concursuri și paradă cu costume de fluturi.
        </li>
        <li>
          "Serată de muzică clasică la Biserica cu Lună" - Pe 5 septembrie 2024,
          Biserica cu Lună din Oradea va găzdui un concert de muzică clasică sub
          clar de lună. Aceasta va fi o experiență unică pentru iubitorii de
          muzică clasică.
        </li>
        <li>
          "Expoziția de artă contemporană la Muzeul Țării Crișurilor" - În luna
          octombrie 2024, Muzeul Țării Crișurilor va găzdui o expoziție de artă
          contemporană cu lucrări de artiști locali și internaționali.
        </li>
        <li>
          "Târgul de Crăciun Oradea" - În perioada 1 decembrie 2024 - 31
          decembrie 2024, Piața Unirii din Oradea se va transforma într-un târg
          de Crăciun strălucitor, cu luminițe, standuri cu produse tradiționale,
          și activități pentru întreaga familie.
        </li>
      </ul>
    </main>
    <footer>
      <em>@copyright 2023</em>
    </footer>
  </body>
</html>
