<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cazare.css" />
    <title>Cazare 7</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <img src="../../img/logo.png" alt="Logo" />
        </nav>
        <div>
          <nav>
            <li>
              <a href="../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h3>Un loc deosebit situal in Oradea.</h3>
      <div>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/422172467.jpg?k=cccbbaf410e1db8609ecedd6292468d8b3ea516e88770cc74d7390c04c3e43d3&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/422172458.jpg?k=aafdb83d670060a8a44f8497fd3eafe2a8f59192e86b2a43215179105777b6e7&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/422172446.jpg?k=6d0b9e92b8d046147bdd91bd9b5d6c9b289d8570e59c3707acb9d743a2cb83de&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/422172454.jpg?k=b4aa8e05a347eb12adaea2c3eed42adc558700c7823f06ac4b6a7751bc9ee6d9&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/422172450.jpg?k=07cb159334b2cda5d2b627b25d163ac420b13358e216340f4df987fa9a2ff945&o=&hp=1"
            alt=""
          />
        </figure>
      </div>
      <form action="submit_form.php" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="number">Number: </label>
        <input type="number" id="number" name="number" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    <br />
    <footer><em> @copyright 2023 </em></footer>
  </body>
</html>
