<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cazare.css" />
    <link rel="stylesheet" href="footerRes.css" />
    <link rel="stylesheet" href="../../mobile.css" />
    <script type="module" src="../../navbar.js"></script>
    <script type="module" src="script.js"></script>
    <script type="module" src="maxWidth900.js"></script>
    <script type="module" src="form.js"></script>

    <title>Cazare 8</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <a href="../../index.html"
            ><img
              src="../../img/logo-removebg-preview.png"
              alt="Logo"
              class="logoMain"
          /></a>
        </nav>
        <div>
          <div class="btn-mobile">
            <button class="mobile">
              <img src="../../SVG/icons8-menu-100.png" alt="" class="icon" />
            </button>
          </div>
          <nav class="mobile-width navbar_header">
            <li>
              <a href="../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
            <li>
              <a href="../Contact.html">Contact</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h1>Un loc deosebit situal in Oradea.</h1>

      <div>
        <div class="img_box">
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/322691212.jpg?k=e135f39c07acbf419016f5d177dd73c56d7b524ad7e18f124bc6faf579d0ef01&o=&hp=1"
            alt=""
            class="slider__img slider_hidden sliderMaxWidth900"
          />
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/385432204.jpg?k=ad4379a633468b3c6e09e445ff85c3fa46664cb4bc956a87878d24b9cf1a1f1f&o=&hp=1"
            alt=""
            class="slider__img"
          />
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/321419305.jpg?k=5a4ef4a186fe7d0f1806e45af7c6bb9af7104f07edb1b5da5b01df8614e10e98&o=&hp=1   "
            alt=""
            class="slider__img slider__active"
          />
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/321419386.jpg?k=22f35b731bbd2ae5dbb285dfdbfe7399da5daf9b32639e76394d08a122541e66&o=&hp=1"
            alt=""
            class="slider__img"
          />
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/324682027.jpg?k=07ec2bacf65af5516fcab0e552cc7f7ba211c111a0c6a05eb81cab8859be38bb&o=&hp=1"
            alt=""
            class="slider__img slider_hidden"
          />
          <div class="arrow left-arrow">&#9665;</div>
          <div class="arrow right-arrow">&#9655;</div>
        </div>
        <div class="maxWidthBtn">
          <div class="max_left-box">
            <button class="btn-prev">Prev</button>
          </div>
          <div class="max_right-box">
            <button class="btn-right">Next</button>
          </div>
        </div>
        <!-- <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-467663/upstairs-boutique-bucuresti-676x439.jpg"
            alt=""
            class="slider__img slider__active"
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-467671/upstairs-boutique-bucuresti-5-676x439.jpg"
            alt=""
            class="slider__img"
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-467661/upstairs-boutique-bucuresti-6-676x439.jpg"
            alt=""
            class="slider__img"
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-467660/upstairs-boutique-bucuresti-13-676x439.jpg"
            alt=""
            class="slider__img"
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-467667/upstairs-boutique-bucuresti-11-676x439.jpg"
            alt=""
            class="slider__img"
          />
        </figure> -->
      </div>
      <form action="submit_form.php" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" /><br /><br />

        <label for="number">Number: </label>
        <input type="number" id="number" name="number" />
        <br /><br />
        <button class="btn_form">Submit</button>
      </form>
    </main>
    <div class="footer_boxes">
      <div class="footer_box-text">
        <p>@Cioara Raul/All rights served</p>
      </div>
      <div class="footer_boxes-links">
        <div class="footer_box-link">
          <a href="https://www.facebook.com/cioara.raul.7/photos_by">
            <img src="../../SVG/facebook.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://www.instagram.com/">
            <img src="../../SVG/instagram.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 ">
            <img src="../../SVG/twitter.svg" alt="twiter" class="footer_svg" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
