<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cazare.css" />
    <title>Cazare 5</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <img src="../../img/logo.png" alt="Logo" />
        </nav>
        <div>
          <nav>
            <li>
              <a href="../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h3>Un loc deosebit situal in Oradea.</h3>
      <div>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-546268/hostel-flamingo-residence-orsova-2-333x333.jpg"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-546273/hostel-flamingo-residence-orsova-10-333x333.jpg"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-377604/hostel-flamingo-residence-orsova-18-333x333.jpg"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-546255/hostel-flamingo-residence-orsova-34-333x333.jpg"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://static.travelminit.com/thumbs/accm-546271/hostel-flamingo-residence-orsova-42-333x333.jpg"
            alt=""
          />
        </figure>
      </div>

      <form action="submit_form.php" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="number">Number: </label>
        <input type="number" id="number" name="number" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    <br />
    <footer><em> @copyright 2023 </em></footer>
  </body>
</html>
