<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cazare.css" />
    <title>Cazare 9</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <img src="../../img/logo.png" alt="Logo" />
        </nav>
        <div>
          <nav>
            <li>
              <a href="../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h3>Un loc deosebit situal in Oradea.</h3>
      <div>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/87141064.jpg?k=edffbd759481c54df32d4eac9a5c06d67e2125602e8b6bd97d940c0ca6719a69&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/270017265.jpg?k=c72fd1cb1a6206593cff4dbad7e8e0971cabc33b69c8fd5a75b733cf188329c1&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/118540634.jpg?k=4cd93bdd2bfbd37d1e3344455366c9fd5c40cba5c203fb3ca21932b5810282cc&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/87146288.jpg?k=bc9887394c733352e3912426f2799846731360d6fdacc21952716a6449b1d056&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/118539597.jpg?k=eeef9d1c53c3d77df9f6142fd93f58d7413f673a305a9f741dc05d84a3f4a09a&o=&hp=1"
            alt=""
          />
        </figure>
      </div>
      <form action="submit_form.php" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="number">Number: </label>
        <input type="number" id="number" name="number" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    <br />
    <footer><em> @copyright 2023 </em></footer>
  </body>
</html>
