<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cazare.css" />
    <title>Cazare 10</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <img src="../../img/logo.png" alt="Logo" />
        </nav>
        <div>
          <nav>
            <li>
              <a href="../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <main>
      <h3>Un loc deosebit situal in Oradea.</h3>
      <div>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/493201913.jpg?k=9c35e71b4f9498529d72525a0384183881c24978c7777dac182f77be3529bc2f&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/493201647.jpg?k=b529b1bb6a5c34a8bd31b8dc0f524a05bfdca2f86533ea5263061944bfab4703&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/493201906.jpg?k=d339c81ae334a14e9d65237c6c466afd41c88feb465107765d7865225b4f4a36&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/493201656.jpg?k=b2ddfc9b23b9aaf5d7217f63d4ec19d6b5551f9b8d251fd0c7a8f04c1b20d2da&o=&hp=1"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/493201911.jpg?k=c7a1fd56a8dabb4aa656a9cc38bf7728fdadcb5b1e153b9956c09ffc61858440&o=&hp=1"
            alt=""
          />
        </figure>
      </div>
      <form action="submit_form.php" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="number">Number: </label>
        <input type="number" id="number" name="number" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    <br />
    <footer><em> @copyright 2023 </em></footer>
  </body>
</html>
