<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cetatea din Oradea</title>
  </head>
  <body>
    <header>
      <h1>Biserica cu Luna</h1>
    </header>
    <main>
      <img
        src="../../img/biserica-cu-luna.jpg"
        alt="
      Biserica cu Luna"
        width="40%"
      />

      <h3>
        Biserica cu Luna este o biserică situată în Oradea, România, și este
        cunoscută pentru arhitectura sa deosebită și, în mod particular, pentru
        o pictură murală reprezentând Luna. Iată câteva informații despre
        Biserica cu Luna:
      </h3>
      <ol>
        <li><a href="#istorie">Arhitectură Art Nouveau</a></li>
        <li><a href="#stiluri">Luna Pictată </a></li>
        <li><a href="#rol">Istorie și Restaurare</a></li>
        <li><a href="#renovari">Religie și Cult</a></li>
        <li><a href="#obiectiv">Simbolism</a></li>
      </ol>
      <div id="istorie">
        <h3>Arhitectură Art Nouveau</h3>
        <ul>
          <li>
            Biserica cu Luna este un exemplu notabil de arhitectură Art Nouveau.
            Stilul Art Nouveau, caracterizat de linii fluide, ornamente organice
            și elemente decorative elaborate, este vizibil în întreaga structură
            a bisericii.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Luna Pictată</h3>
        <ul>
          <li>
            Unul dintre cele mai distinse aspecte ale bisericii este pictura
            murală care reprezintă Luna.
          </li>
          <li>
            Aceasta se află pe tavan și oferă impresia că biserica este deschisă
            spre ceruri.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Istorie și Restaurare</h3>
        <ul>
          <li>
            Biserica cu Luna a fost construită în anii 1930, dar a suferit daune
            semnificative în timpul celui de-Al Doilea Război Mondial.
          </li>
          <li>
            Ulterior, a fost restaurată și readusă la gloria sa originală.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Religie și Cult</h3>
        <ul>
          <li>
            Biserica este un loc de închinare creștină și găzduiește servicii
            religioase pentru credincioși.
          </li>
          <li>
            Totuși, este, de asemenea, un obiectiv turistic datorită frumuseții
            sale arhitecturale.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Simbolism</h3>
        <ul>
          <li>
            Pictura lunară și simbolismul asociat ei pot varia în interpretare.
          </li>
          <li>
            Unele surse sugerează că Luna ar putea fi asociată cu ideea de
            lumină divină sau iluminare spirituală, dar interpretarea sa exactă
            poate depinde de tradițiile religioase și culturale specifice.
          </li>
        </ul>
      </div>

      <p>
        Biserica cu Luna este o bijuterie arhitectonică și culturală în Oradea
        și reprezintă un loc de interes pentru cei pasionați de arhitectură și
        artă religioasă. Pictura murală a Lunii adaugă o notă unică și mistică
        acestui loc de închinare.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
