<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cetatea din Oradea</title>
  </head>
  <body>
    <header>
      <h1>Cetatea Din Oradea</h1>
    </header>
    <main>
      <img src="../../img/cetateaOradea.jpg" alt="cetateaOradea" />
      <h3>
        Cetatea Oradea, cunoscută și sub numele de "Cetatea Oradea" sau "Cetatea
        Episcopală din Oradea," este o fortăreață istorică situată în orașul
        Oradea, județul Bihor, România. Această cetate are o istorie bogată și
        reprezintă unul dintre principalele obiective turistice din Oradea. Iată
        mai multe informații despre Cetatea Oradea:
      </h3>
      <ol>
        <li><a href="#istorie">Istorie veche</a></li>
        <li><a href="#stiluri">Stiluri arhitecturale </a></li>
        <li><a href="#rol">Rol istoric</a></li>
        <li><a href="#renovari">Renovări și conservare</a></li>
        <li><a href="#obiectiv">Obiectiv turistic</a></li>
        <li><a href="#evenimente">Evenimente culturale</a></li>
        <li><a href="#panorama">Panorama urbană</a></li>
      </ol>
      <div id="istorie">
        <h3>Istorie veche</h3>
        <ul>
          <li>
            Cetatea Oradea are o istorie îndelungată care se întinde până în
            Evul Mediu, în secolul al XI-lea.
          </li>
          <li>Primele mențiuni documentate ale cetății datează din 1113.</li>
          <li>
            În cursul secolelor, cetatea a suferit modificări și extinderi
            semnificative în funcție de nevoile vremii.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Stiluri arhitecturale</h3>
        <ul>
          <li>
            Cetatea Oradea este un exemplu notabil de arhitectură diversificată.
          </li>
          <li>
            Partea veche a cetății, inclusiv Bastionul Tesatorilor, păstrează
            influențe gotice și renascentiste.
          </li>
          <li>
            Partea mai recentă, cum ar fi Cetatea Nouă, a fost construită în
            stil baroc, cu elemente neogotice adăugate ulterior.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Rol istoric</h3>
        <ul>
          <li>
            Cetatea Oradea a avut multiple roluri de-a lungul istoriei sale.
          </li>
          <li>
            Inițial, ea a fost o cetate fortificată menită să apere orașul
            împotriva invaziilor.
          </li>
          <li>
            Mai târziu, a fost transformată în cetate episcopală și cetate
            regală, cu funcții administrative și militare semnificative.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Renovări și conservare</h3>
        <ul>
          <li>
            Cetatea a trecut prin numeroase renovări de-a lungul timpului.
          </li>
          <li>
            Cea mai mare parte a renovărilor a avut loc în secolul al XVIII-lea
            sub comanda Episcopului Mihaly Barcay.
          </li>
          <li>
            Multe dintre elementele originale au fost restaurate și conservate
            cu grijă, păstrând astfel autenticitatea istorică.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Obiectiv turistic</h3>
        <ul>
          <li>Cetatea Oradea este astăzi un obiectiv turistic popular.</li>
          <li>
            Vizitatorii pot explora structura istorică, vizita muzeul aflat în
            incinta sa și înțelege mai bine istoria regiunii.
          </li>
          <li>
            Vizitele ghidate oferă informații detaliate despre arhitectură și
            istorie.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="evenimente">Evenimente culturale</h3>
        <li>
          Cetatea Oradea este o gazdă obișnuită pentru evenimente culturale.
        </li>
        <li>
          Aici se desfășoară concerte, festivaluri, expoziții de artă și alte
          evenimente culturale care aduc viață în această locație istorică.
        </li>
      </div>

      <div>
        <h3 id="panorama">Panorama urbană</h3>
        <li>
          Datorită amplasării sale înălțate, cetatea oferă o panoramă uimitoare
          asupra orașului Oradea și a împrejurimilor.
        </li>
        <li>
          Această vedere panoramică oferă o perspectivă unică asupra orașului și
          a frumuseții sale arhitecturale și naturale.
        </li>
      </div>

      <p>
        Cetatea Oradea este o mărturie a istoriei bogate a regiunii și
        reprezintă o atracție turistică importantă. Arhitectura sa variată și
        peisajul istoric o fac un loc de interes pentru turiști și pentru cei
        interesați de istorie și cultură. Este, de asemenea, un loc minunat
        pentru a admira priveliștea și pentru a înțelege istoria sa variată.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
