<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cetatea din Oradea</title>
  </head>
  <body>
    <header>
      <h1>Cladirea Primariei Oradea</h1>
    </header>
    <main>
      <img
        src="../../img/Cladirea-Primariei-Oradea.jpg"
        alt="Cladirea-Primariei-Oradea"
      />
      <h3>
        Primăria Oradea, cunoscută și sub numele de Clădirea Primăriei Oradea,
        este o clădire impunătoare situată în centrul orașului Oradea, România.
        Această clădire are o semnificație istorică și arhitecturală deosebită.
        Iată câteva aspecte despre Clădirea Primăriei Oradea:
      </h3>
      <ol>
        <li><a href="#istorie">Stil arhitectural eclectic</a></li>
        <li><a href="#stiluri">Istorie bogată </a></li>
        <li><a href="#rol">Fântâna cu ursuleți</a></li>
        <li><a href="#renovari">Renovări și conservare</a></li>
        <li><a href="#obiectiv">Obiectiv turistic</a></li>
   
      </ol>
      <div id="istorie">
        <h3>Stil arhitectural eclectic</h3>
        <ul>
          <li>
            Clădirea Primăriei Oradea este cunoscută pentru stilul său
            arhitectural eclectic.
          </li>
          <li>
            Acesta combină elemente arhitecturale din mai multe stiluri,
            inclusiv stilul gotic, renascentist, baroc, și art nouveau, ceea ce
            o face să iasă în evidență și să ofere o imagine impresionantă.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Istorie bogată</h3>
        <ul>
          <li>
            Construcția Primăriei a început în anii 1902-1903 sub supravegherea
            arhitectului Rimanóczy Kálmán, iar clădirea a fost finalizată în
            1904.
          </li>
          <li>
            În trecut, a servit ca Primărie a orașului, dar astăzi găzduiește
            birouri administrative și este un loc important pentru reuniuni
            publice și evenimente oficiale.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Fântâna cu ursuleți</h3>
        <ul>
          <li>
            În fața clădirii se află o fântână decorativă cu sculpturi de
            ursuleți, care adaugă un farmec aparte în fața Primăriei.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Atracție turistică</h3>
        <ul>
          <li>
            Clădirea Primăriei Oradea este o atracție turistică importantă.
          </li>
          <li>
            Turiștii și vizitatorii pot admira arhitectura sa impunătoare, atât
            în interior, cât și în exterior.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Evenimente culturale</h3>
        <ul>
          <li>
            În clădire au loc o varietate de evenimente culturale, de la
            expoziții de artă până la concerte și ceremonii oficiale.
          </li>
          

      <p>
        Clădirea Primăriei Oradea nu reprezintă doar o instituție administrativă, ci și o parte semnificativă a peisajului urban și cultural al orașului Oradea.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
