<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cetatea din Oradea</title>
  </head>
  <body>
    <header>
      <h1>Episcopia Greco</h1>
    </header>
    <main>
      <img
        src="../../img/Episcopia-Greco.jpg"
        alt="Episcopia Greco"
        width="40%"
      />
      <h3>
        Episcopia Greco-Catolică Oradea este o jurisdicție bisericească a
        Bisericii Române Unite cu Roma, Greco-Catolică. Acesta este un centru
        important al Bisericii Greco-Catolice din România și are o importanță
        semnificativă pentru comunitatea greco-catolică din Oradea și din
        regiunea Crișana. Iată câteva informații despre Episcopia Greco-Catolică
        Oradea
      </h3>
      <ol>
        <li><a href="#istorie">Istorie</a></li>
        <li><a href="#stiluri">Catedrala Episcopala </a></li>
        <li><a href="#rol">Activități Religioase și Educație</a></li>
        <li><a href="#renovari">Conservarea Identității Culturale</a></li>
        <li><a href="#obiectiv">Participare în Comunitate</a></li>
      </ol>
      <div id="istorie">
        <h3>Istorie</h3>
        <ul>
          <li>
            Episcopia Greco-Catolică din Oradea are o istorie lungă, care se
            întinde de-a lungul mai multor secole.
          </li>
          <li>
            Aceasta a fost inițial înființată în secolul al XVII-lea și a jucat
            un rol semnificativ în dezvoltarea și menținerea credinței
            greco-catolice în regiune.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Catedrala Episcopala</h3>
        <ul>
          <li>
            Una dintre cele mai importante clădiri religioase din Oradea este
            Catedrala Greco-Catolică din Oradea.
          </li>
          <li>
            Această catedrală este locul în care se desfășoară numeroase
            ceremonii și slujbe religioase importante pentru comunitatea
            greco-catolică.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Activități Religioase și Educație</h3>
        <ul>
          <li>
            Episcopia desfășoară numeroase activități religioase, precum slujbe,
            liturghii și evenimente culturale.
          </li>
          <li>
            De asemenea, promovează educația religioasă și valorile creștine în
            comunitatea sa.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Conservarea Identității Culturale</h3>
        <ul>
          <li>
            Episcopia Greco-Catolică joacă un rol important în conservarea și
            promovarea identității culturale greco-catolice din regiunea Crișana
            și din România în general.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Participare în Comunitate</h3>
        <ul>
          <li>
            Episcopia implică activ comunitatea și se preocupă de nevoile
            sociale și spirituale ale oamenilor.
          </li>
        </ul>
      </div>

      <p>
        Episcopia Greco-Catolică Oradea reprezintă un loc important pentru
        credincioșii greco-catolici din regiune și are o influență semnificativă
        asupra vieții religioase și culturale din zonă. Aceasta promovează
        valorile creștine și contribuie la păstrarea identității culturale a
        comunității greco-catolice.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
