<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grădina Zoologică Oradea</title>
  </head>
  <body>
    <header>
      <h1>Grădina Zoologică Oradea</h1>
    </header>
    <main>
      <img src="../../img/gradina_zoo_nou.jpg" alt="Grădina Zoologică Oradea" />
      <h3>
        Grădina Zoologică Oradea, cunoscută și sub numele de "Oradea Zoo," este
        un loc de destindere și educație situat în orașul Oradea, România. Iată
        câteva informații despre Grădina Zoologică Oradea
      </h3>
      <ol>
        <li><a href="#istorie">Variație de Specii</a></li>
        <li><a href="#stiluri">Educație și Conștientizare </a></li>
        <li><a href="#rol">Mediu Natural</a></li>
        <li><a href="#renovari">Conservare și Reabilitare</a></li>
        <li><a href="#obiectiv">Oportunități de Divertisment</a></li>
      </ol>
      <div id="istorie">
        <h3>Variație de Specii</h3>
        <ul>
          <li>
            Grădina Zoologică Oradea adăpostește o varietate de animale, de la
            mamifere la păsări și reptile.
          </li>
          <li>
            Aici poți observa specii locale și exotice, cum ar fi tigri, lei,
            girafe, maimuțe, păsări exotice și multe altele.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Educație și Conștientizare</h3>
        <ul>
          <li>
            Grădina Zoologică are ca misiune principală educația și
            conștientizarea publicului cu privire la importanța conservării
            biodiversității și protecția animalelor sălbatice.
          </li>
          <li>Aceasta oferă oportunități de învățare pentru toate vârstele.</li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Mediu Natural</h3>
        <ul>
          <li>
            Grădina Zoologică oferă un mediu natural și condiții adecvate pentru
            animale, astfel încât acestea să se simtă cât mai confortabil
            posibil.
          </li>
          <li>
            Grădina Zoologică se străduiește să creeze un mediu care să
            stimuleze comportamentul natural al animalelor.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Conservare și Reabilitare:</h3>
        <ul>
          <li>
            Unele animale de la Oradea Zoo pot fi rezultatul confiscării de la
            traficanții de animale sălbatice sau provin din centre de
            reabilitare pentru animale sălbatice.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Oportunități de Divertisment</h3>
        <ul>
          <li>
            Pe lângă scopul educativ și de conservare, Grădina Zoologică oferă
            și oportunități de divertisment pentru vizitatori.
          </li>
          <li>
            ici poți petrece o zi plăcută în mijlocul naturii și a animalelor.
          </li>
        </ul>
      </div>

      <p>
        Grădina Zoologică Oradea este o destinație potrivită pentru familiile cu
        copii, dar și pentru oricine dorește să petreacă timp în mijlocul
        naturii și să învețe mai multe despre lumea animală. Acesta reprezintă
        un loc important pentru conservarea biodiversității și conștientizarea
        importanței protejării mediului și a animalelor sălbatice.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
