<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/obiect.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../mobile.css" />
    <script type="module" src="../../navbar.js"></script>
    <title>Muzeul Țării Crișurilor</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <a href="../../index.html"
            ><img
              src="../../img/logo-removebg-preview.png"
              alt="Logo"
              class="logoMain"
          /></a>
        </nav>
        <div>
          <div class="btn-mobile">
            <button class="mobile">
              <img src="../../SVG/icons8-menu-100.png" alt="" class="icon" />
            </button>
          </div>
          <nav class="mobile-width navbar_header">
            <li>
              <a href="../../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
            <li>
              <a href="../Contact.html">Contact</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="title">
        <h1>Pagina Muzeul Țării Crișurilor</h1>
      </div>
      <div class="content">
        <div class="testimonials">
          <p class="testimonials-p">
            Muzeul Țării Crișurilor muzeu de artă și știință, situat în
            municipiul Oradea. A fost inaugurat pe 17 ianuarie 1971, în clădirea
            restaurată a Palatului Baroc (sau Palatul Episcopal). Este situat în
            zona nord-vestică a orașului din imediata apropiere a parcului de pe
            strada Ștrandului, unde pe vremuri exista tradiționalul Obor al
            Oradiei.
          </p>
        </div>
        <div class="images">
          <div class="img">
            <img
              src="https://www.visitoradea.com/photos/thumbs/shares/Galleries(DO_NOT_DELETE)/Muzeul_Tarii_Crisurilor/IMG_4307_optim-700x400.jpg?token=c2a83b19c2d50ef399523b7d6b65dee0"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://s.iw.ro/gateway/g/ZmlsZVNvdXJjZT1odHRwJTNBJTJGJTJG/c3RvcmFnZTA1dHJhbnNjb2Rlci5yY3Mt/cmRzLnJvJTJGc3RvcmFnZSUyRjIwMTYl/MkYwNyUyRjIxJTJGNjU4NjQ5XzY1ODY0/OV9tdXpldV9tdXRhcmUuanBnJnc9Nzgw/Jmg9NDQwJmhhc2g9MmY0ZGI1Zjk5ODRjYmMyZDI3Y2ExZGMxMTJmNjdmMDI=.thumb.jpg"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://cdn.ebihoreanul.ro/static/gallery_big/MTC0.JPG"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://images.twinkl.co.uk/tw1n/image/private/t_630_eco/website/uploaded/42-muzeul-tarii-crisurilor-2-foto-expo-istorie-02-expozitia-permanenta-a-se-1625764625.jpg"
              alt=""
              class="img_box"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer_boxes">
      <div class="footer_box-text">
        <p>@Cioara Raul/All rights served</p>
      </div>
      <div class="footer_boxes-links">
        <div class="footer_box-link">
          <a href="https://www.facebook.com/cioara.raul.7/photos_by">
            <img src="../../svg/facebook.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://www.instagram.com/">
            <img src="../../svg/instagram.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 ">
            <img src="../../svg/twitter.svg" alt="twiter" class="footer_svg" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
