<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/obiect.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../mobile.css" />
    <script type="module" src="../../navbar.js"></script>
    <title>Aquapark Nymphaea</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <a href="../../index.html"
            ><img
              src="../../img/logo-removebg-preview.png"
              alt="Logo"
              class="logoMain"
          /></a>
        </nav>
        <div>
          <div class="btn-mobile">
            <button class="mobile">
              <img src="../../SVG/icons8-menu-100.png" alt="" class="icon" />
            </button>
          </div>
          <nav class="mobile-width navbar_header">
            <li>
              <a href="../../../index.html">Pagina principală</a>
            </li>
            <li>
              <a href="../ObiectiveTuristice.html">Obiective turistice </a>
            </li>
            <li>
              <a href="../Cazare.html">Cazare</a>
            </li>
            <li>
              <a href="../Evenimente.html">Evenimente</a>
            </li>
            <li>
              <a href="../Contact.html">Contact</a>
            </li>
          </nav>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="title">
        <h1>Pagina Aquapark Nymphaea</h1>
      </div>
      <div class="content">
        <div class="testimonials">
          <p class="testimonials-p">
            Indiferent de anotimp, Complexul Nymphaea este locul în care te poți
            răsfăța cu un masaj relaxant, tratamente acvatice și distracție
            pentru cei mari și mici. Relaxează-te la saună sau la piscină,
            testează terenurile de sport multifuncționale, în cel mai mare
            #Aquapark din Vestul României! Dotat cu bazine exterioare, ideale
            pentru a te răcori pe timp de vară, dar și bazine interioare,
            perfecte pentru sezonul rece, Nymphaea este combinația desăvârșită
            între distracție și relaxare. În timp ce bazinele cu valuri și
            toboganele vor fi încântarea celor mici, serviciile SPA îți vor face
            șederea relaxantă cu ajutorul saunelor, băilor turcești cu bazine cu
            apă termală, a cabinelor cu aburi, jacuzzi-urilor, tratamentelor
            acvatice și a camerelor de masaj. Profită de zonele de relaxare și
            wellness dotate cu bar și restaurant și răsfață-te cu tratamente
            naturiste și de înfrumusețare.
          </p>
        </div>
        <div class="images">
          <div class="img">
            <img
              src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/c2/b9/4c/aquapark-nymphaea-oradea.jpg?w=1200&h=-1&s=1"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://www.hotel-lyra.ro/wp-content/uploads/2017/01/Aquaparkul-Nymphaea-Oradea-15.jpg"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://oradealife.ro/media/com_olgallery/upload/559-aquapark-nymphaea-galerie-foto-local/big/aquapark-nymphaea-galerie-foto-local-30814.jpg"
              alt=""
              class="img_box"
            />
          </div>
          <div class="img">
            <img
              src="https://cdn.cluj.com/ghidlocalcom/sites/2/2018/08/Locul-%C3%AEn-care-pacea-%C8%99i-lini%C8%99tea-seam%C4%83n%C4%83-credin%C8%9B%C4%83.jpg"
              alt=""
              class="img_box"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer_boxes">
      <div class="footer_box-text">
        <p>@Cioara Raul/All rights served</p>
      </div>
      <div class="footer_boxes-links">
        <div class="footer_box-link">
          <a href="https://www.facebook.com/cioara.raul.7/photos_by">
            <img src="../../svg/facebook.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://www.instagram.com/">
            <img src="../../svg/instagram.svg" alt="insta" class="footer_svg" />
          </a>
        </div>
        <div class="footer_box-link">
          <a href="https://x.com/cioara_raul?t=iC0nYt5m0LKUfhG3cYoG_w&s=08 ">
            <img src="../../svg/twitter.svg" alt="twiter" class="footer_svg" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
