<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nymphea Aquapark</title>
  </head>
  <body>
    <header>
      <h1>Nymphea Aquapark</h1>
    </header>
    <main>
      <img src="../../img/nymphea.jpeg" alt="cetateaOradea" width="40%" />
      <h3>
        Nymphea Aquapark este un parc acvatic situat în Oradea, România, și
        reprezintă una dintre principalele destinații de agrement pentru
        familiile și turiștii care doresc să se relaxeze și să se distreze. Iată
        mai multe detalii despre Nymphea Aquapark:
      </h3>
      <ol>
        <li><a href="#istorie">Distracție și Relaxare</a></li>
        <li><a href="#stiluri">Diverse Tobogane </a></li>
        <li><a href="#rol">Piscine pentru Toate Vârstele</a></li>
        <li><a href="#renovari">Jacuzzi-uri și Terenuri de Sport</a></li>
        <li><a href="#obiectiv">Zonă de Alimentație</a></li>
        <li><a href="#evenimente">Activități de Grup</a></li>
        <li><a href="#panorama">Seară la Aquapark</a></li>
      </ol>
      <div id="istorie">
        <h3>Distracție și Relaxare</h3>
        <ul>
          <li>
            Nymphea Aquapark oferă o varietate de facilități pentru distracție
            și relaxare, inclusiv piscine, tobogane acvatice, jacuzzi-uri, și
            zone de odihnă.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Diverse Tobogane</h3>
        <ul>
          <li>
            Parcul acvatic dispune de o gamă diversificată de tobogane acvatice,
            de la cele potrivite pentru copii până la cele pentru adulți
            aventuroși.
          </li>
          <li>
            Acestea includ tobogane cu spirale, tobogane kamikaze, și altele.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Piscine pentru Toate Vârstele</h3>
        <ul>
          <li>
            Nymphea Aquapark are piscine potrivite pentru toate vârstele, de la
            piscine pentru copii cu adâncime redusă până la piscine pentru înot
            și relaxare.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Jacuzzi-uri și Terenuri de Sport</h3>
        <ul>
          <li>
            Parcul include zone cu jacuzzi-uri pentru relaxare, dar și terenuri
            de sport pentru activități precum volei pe plajă sau fotbal acvatic.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Zonă de Alimentație</h3>
        <ul>
          <li>
            Acolo vei găsi și o zonă de alimentație care oferă o gamă variată de
            mâncăruri și băuturi pentru a satisface nevoile vizitatorilor.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="evenimente">Activități de Grup</h3>
        <li>
          Nymphea Aquapark organizează adesea evenimente tematice și activități
          pentru grupuri și familii, ceea ce îl face un loc ideal pentru
          excursii școlare sau petreceri de ziua de naștere.
        </li>
      </div>

      <div>
        <h3 id="panorama">Seară la Aquapark</h3>
        <li>
          Pe lângă activitățile din timpul zilei, Nymphea Aquapark oferă și
          "Seară la Aquapark" cu luminile colorate și muzică pentru o experiență
          nocturnă de neuitat.
        </li>
      </div>

      <p>
        Nymphea Aquapark este o destinație populară pentru cei care doresc să se
        răcorească în timpul verii sau să petreacă o zi distractivă în familie
        sau cu prietenii. Cu numeroasele sale facilități și activități, este un
        loc de agrement perfect pentru toate vârstele.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
