<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palatul Baroc</title>
  </head>
  <body>
    <header>
      <h1>Palatul Baroc</h1>
    </header>
    <main>
      <img src="../../img/Palatul-Baroc.jpg" alt="Palatul Baroc" width="40%" />
      <h3>
        Palatul Baroc, cunoscut și sub numele de "Palatul Baroc Oradea," este o
        clădire istorică situată în orașul Oradea, România. Aici sunt câteva
        detalii despre Palatul Baroc:
      </h3>
      <ol>
        <li><a href="#istorie">Istorie Bogată</a></li>
        <li><a href="#stiluri">Stil Arhitectural Baroc </a></li>
        <li><a href="#rol">Muzeul Orășenesc Oradea</a></li>
        <li><a href="#renovari">Arhitectură Impresionantă</a></li>
        <li><a href="#obiectiv">Atracție Turistică</a></li>
      </ol>
      <div id="istorie">
        <h3>Istorie Bogată</h3>
        <ul>
          <li>
            Construcția palatului a început în secolul al XVIII-lea, iar
            clădirea a fost finalizată în 1752.
          </li>
          <li>
            A servit ca reședință pentru familia episcopală și apoi ca liceu
            teologic romano-catolic.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Stil Arhitectural Baroc</h3>
        <ul>
          <li>
            Numele "Palatul Baroc" reflectă stilul arhitectural specific al
            clădirii.
          </li>
          <li>
            Aceasta este o reprezentare impresionantă a stilului arhitectural
            baroc, care a fost popular în secolul al XVII-lea și în prima
            jumătate a secolului al XVIII-lea.
          </li>
          <li>
            Stilul baroc este caracterizat de ornamentații bogate, decorațiuni
            sculptate și forme complexe.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Muzeul Orășenesc Oradea</h3>
        <ul>
          <li>
            În prezent, Palatul Baroc găzduiește Muzeul Orășenesc Oradea, care
            adăpostește colecții valoroase de artă, obiecte istorice și exponate
            culturale.
          </li>
          <li>
            Muzeul oferă vizitatorilor oportunitatea de a descoperi istoria și
            cultura orașului Oradea.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Arhitectură Impresionantă</h3>
        <ul>
          <li>
            Clădirea se remarcă prin arhitectura sa impunătoare, cu elemente
            baroce precum stucaturi decorate, coloane, și decorațiuni detaliată.
          </li>
          <li>
            Fațada sa este una dintre cele mai frumoase exemple de arhitectură
            barocă din România.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Atracție Turistică</h3>
        <ul>
          <li>
            Palatul Baroc este o importantă atracție turistică în Oradea.
            Vizitatorii pot admira arhitectura sa unică și pot explora
            colecțiile muzeului.
          </li>
        </ul>
      </div>

      <p>
        Palatul Baroc reprezintă nu doar un monument istoric, ci și un loc de
        cultură și învățare, care oferă o privire în istoria și arta orașului
        Oradea.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
