<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parc Central</title>
  </head>
  <body>
    <header>
      <h1>Parc Central</h1>
    </header>
    <main>
      <img src="../../img/centralPark.jpeg" alt="cetateaOradea" />
      <h3>
        Parcul Central din Oradea este un spațiu verde frumos și un loc de
        recreere situat în centrul orașului Oradea, România. Acesta este un loc
        de relaxare și distracție pentru locuitorii locali și turiști. Iată mai
        multe informații despre Parcul Central:
      </h3>
      <ol>
        <li><a href="#istorie">Istorie </a></li>
        <li><a href="#stiluri">Atracții Naturale</a></li>
        <li><a href="#rol">Aleile și Grădinile</a></li>
        <li><a href="#renovari">Zonă de Joacă pentru Copii</a></li>
        <li><a href="#obiectiv">Evenimente și Spectacole</a></li>
        <li><a href="#evenimente">Cafenele și Terase</a></li>
        <li><a href="#panorama">Statui și Monumente</a></li>
      </ol>
      <div id="istorie">
        <h3>Istorie</h3>
        <ul>
          <li>
            Parcul Central are o istorie îndelungată și a fost fondat în secolul
            al XIX-lea, făcându-l unul dintre cele mai vechi parcuri din
            România.
          </li>
          <li>
            Acesta a fost inițial conceput ca un parc privat pentru
            aristocrație, dar a devenit mai târziu accesibil publicului larg.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Atracții Naturale</h3>
        <ul>
          <li>
            Parcul este înconjurat de vegetație luxuriantă, inclusiv copaci
            seculari, flori și iarbă verde.
          </li>
          <li>
            Aici puteți petrece timp în mijlocul naturii și să vă bucurați de
            aerul proaspăt.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Aleile și Grădinile</h3>
        <ul>
          <li>
            Parcul este străbătut de alei pavate și drumuri pietruite, ceea ce
            face plimbările relaxante și plăcute. Grădinile bine întreținute
            adaugă frumusețe peisajului.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Zonă de Joacă pentru Copii</h3>
        <ul>
          <li>
            Parcul dispune de o zonă de joacă pentru copii, cu leagăne, tobogane
            și alte facilități, făcându-l potrivit pentru familii.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Evenimente și Spectacole</h3>
        <ul>
          <li>
            Parcul găzduiește adesea evenimente culturale, concerte în aer liber
            și spectacole artistice, ceea ce îl face un loc viu și animat.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="evenimente">Cafenele și Terase</h3>
        <li>
          Parcul are cafenele și terase unde puteți savura o cafea sau o gustare
          în aer liber.
        </li>
      </div>

      <div>
        <h3 id="panorama">Statui și Monumente</h3>
        <li>
          În parcul Central veți găsi și diverse statui și monumente care
          îmbogățesc atmosfera culturală a locului.
        </li>
      </div>

      <p>
        Parcul Central din Oradea este un loc plăcut pentru a petrece timp în
        mijlocul naturii, pentru a face plimbări relaxante sau pentru a
        participa la evenimente culturale. Acesta oferă o oază de liniște și
        recreere în inima orașului.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
