<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vulturul Negru</title>
  </head>
  <body>
    <header>
      <h1>Vulturul Negru</h1>
    </header>
    <main>
      <img src="../../img/blackEagle.jpg" alt="cetateaOradea" />
      <h3>
        "Vulturul Negru" este un termen care se referă adesea la Palatul
        Vulturul Negru (în limba română, "Palatul Vulturul Negru"), care este
        unul dintre cele mai notabile și impresionante edificii arhitecturale
        din Oradea, România. Aici sunt câteva aspecte despre "Vulturul Negru":
      </h3>
      <ol>
        <li><a href="#istorie">Arhitectura Art Nouveau</a></li>
        <li><a href="#stiluri">Istorie bogată </a></li>
        <li><a href="#rol">Rol istoric</a></li>
        <li><a href="#renovari">Restaurare și Conservare</a></li>
        <li><a href="#obiectiv">Turism</a></li>
      </ol>
      <div id="istorie">
        <h3>Arhitectura Art Nouveau</h3>
        <ul>
          <li>
            Arhitectura Art Nouveau, cunoscută și sub numele de "Artă Nouă," se
            caracterizează prin linii organice fluide, ornamente florale bogate
            și forme elegante.
          </li>
          <li>
            Acest stil a fost în vogă la sfârșitul secolului al XIX-lea și
            începutul secolului al XX-lea.
          </li>
          <li>
            Palatul Vulturul Negru exemplifică aceste caracteristici într-un mod
            spectaculos, cu o fațadă decorată cu motive florale și sculpturi
            delicate, și elemente arhitecturale care adaugă o senzație de
            mișcare și grandoare.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="stiluri">Istorie bogată</h3>
        <ul>
          <li>
            Construcția Palatului Vulturul Negru a avut loc între anii 1907 și
            1908, conform planurilor elaborate de arhitectul Ferenc Sztarill.
          </li>
          <li>
            Clădirea a fost destinată să servească ca un complex
            multifuncțional, adăpostind magazine, birouri și chiar un teatru.
          </li>
          <li>
            Numele "Vulturul Negru" a fost ales pentru a omagia simbolul
            orașului, un gest care subliniază importanța clădirii în comunitate
            și istoria orașului.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="rol">Simbolul orașului</h3>
        <ul>
          <li>
            De-a lungul timpului, "Vulturul Negru" a devenit un simbol
            emblematic al orașului Oradea.
          </li>
          <li>
            Această clădire nu reprezintă doar o frumusețe arhitecturală
            remarcabilă, ci și un pilon al identității istorice și culturale a
            orașului.
          </li>
          <li>
            Ea ilustrează tradiția și bogăția culturală a comunității locale,
            atrăgând atenția asupra patrimoniului cultural și istoric al
            orașului.
          </li>
        </ul>
      </div>

      <div>
        <h3 id="renovari">Renovări și conservare</h3>
        <ul>
          <li>
            În ultimii ani, Palatul Vulturul Negru a fost supus unor ample
            lucrări de restaurare și renovare, cu scopul de a-și menține
            frumusețea și autenticitatea.
          </li>
          <li>
            Acest efort de conservare a clădirii nu doar păstrează elementele
            istorice și artistice ale clădirii, ci și transformă "Vulturul
            Negru" într-un centru cultural activ.
          </li>
          <li>
            Astăzi, clădirea găzduiește instituții culturale precum Teatrul
            Regina Maria și Muzeul Orășenesc Oradea, contribuind la viața
            culturală a orașului.
          </li>
        </ul>
      </div>
      <div>
        <h3 id="obiectiv">Turism</h3>
        <ul>
          <li>
            "Vulturul Negru" este acum una dintre cele mai importante atracții
            turistice din Oradea.
          </li>
          <li>
            Vizitatorii pot explora fascinanta sa arhitectură, să participe la
            evenimente culturale și să viziteze muzeele din interior.
          </li>
          <li>
            Prin aceste activități, Palatul Vulturul Negru aduce în prim-plan nu
            doar frumusețea și istoria sa, ci și oferă o experiență bogată și
            memorabilă turiștilor care ajung în Oradea.
          </li>
        </ul>
      </div>

      <p>
        "Vulturul Negru" reprezintă nu doar o clădire impresionantă, ci și o
        parte semnificativă a patrimoniului cultural și istoric al orașului
        Oradea.
      </p>
    </main>
    <footer>
      <em>Copyright @2023</em>
    </footer>
  </body>
</html>
